.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Mengatur konten agar ditampilkan di tengah atas */
  margin-top: 10px; /* mengurangi margin untuk tampilan yang lebih kecil */
}

.gambar-kiri, .gambar-kanan {
  opacity: 0.2;
  width: 800px;
}

.gambar-bawah {
  position: absolute; /* Mengubah menjadi absolute agar bisa diposisikan dengan tepat */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@font-face {
  font-family: fontsaya;
  src: url(rmr.otf);
}

h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: fontsaya;
  color: #be8c17;
  transition: color 0.1s ease-in-out;
}

h1:hover {
  color: #be8c17;
}

body {
  margin: 0;
  background: #FFFFFF;
  cursor: pointer;
}
